[Unit]
Description=restic {{ systemd_job.name }} service for {{ repo_name }}
{% if systemd_job.unit_opts is defined %}
{{ systemd_job.unit_opts }}
{% endif %}

[Service]
Type=oneshot
User={{ restic_user }}

{% if systemd_job.restic_commands is defined %}
{% for cmd in systemd_job.restic_commands %}
ExecStart={{ restic_install_path }}/restic-{{ repo_name }} {{ cmd }}
{% endfor %}
{% else %}
ExecStart={{ restic_install_path }}/restic-{{ repo_name }} {{ systemd_job.restic_command }}
{% endif %}

{% if systemd_job.service_opts is defined %}
{{ systemd_job.service_opts }}
{% endif %}
