[Unit]
Description=restic {{ systemd_job.name }} timer for {{ repo_name }}

[Timer]
{% if systemd_job.timers is defined %}
{% for t in systemd_job.timers %}
OnCalendar={{ t }}
{% endfor %}
{% elif systemd_job.timer %}
OnCalendar={{ systemd_job.timer }}
{% endif %}

{% if systemd_job.timer_opts is defined %}
{{ systemd_job.timer_opts }}
{% endif %}

[Install]
WantedBy=timers.target
